@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
    background-image: url("../assests/Background.png");
    background-size: cover;
  }
.center{
    width: 40%;
}

.centerlogo img{
    
    width: 34rem;
    height: 34rem;
    
}
.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
  
.passbtn {
    
    display: flex;
    height: 45px;
    padding: 17px 37px 18px 36px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 30px;
    background: #008BB8;
    color: var(--White, #FFF);
    text-align: center;
    font-family: 'Poppins';
    font-size: 1rem;
    font-style: normal; 
    font-weight: 500;
    line-height: normal;
    border-color: transparent;
}

@media screen and (max-width: 950px) {
    .centerlogo img{
    margin-left: 12rem;
    width: 25rem;
    height: 25rem;
    margin-right: 12rem;
    }
   
    
    
  }
  
  @media screen and (max-width: 438px) {
 .home{
  width:fit-content;
  margin-left:-12rem;
  
 }
    .centerlogo img{
        
        width: 20rem;
        height: 20rem;
        
        }
   
  }
  