@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    overflow-x: hidden;
}

body{
    background-image: url("../assests/Background.png");
    background-size: cover;
  }
.center{
    width: 40%;
}

.centerlogo img{ 
    
    width: 30rem;
    height: 30rem;
    
}
.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
  
.passbtn {
    
    display: flex;
    height: 45px;
    padding: 17px 37px 18px 36px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 30px;
    background: #008BB8;
    color: var(--White, #FFF);
    text-align: center;
    font-family: 'Poppins';
    font-size: 1rem;
    font-style: normal; 
    font-weight: 500;
    line-height: normal;
    border-color: transparent;
}

  .row{
    justify-content: center;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    background: #202020;
    width: 100vw;
    height: 3rem;
    position:relative;
    bottom: 0;
  }
  .copyright-text p {
  
    font-size: 14px;
    color: #878787;
    margin-top: 1rem;
    margin-left: 1rem;
  }

  .footer-menu p {
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 1rem;
  }
  .footer-menu p:hover a{
    color: #ff5e14;
  }
  .footer-menu li a {
    font-size: 14px;
    color: #878787;
  }

@media screen and (max-width: 950px) {
    .centerlogo img{
    margin-left: 12rem;
    width: 25rem;
    height: 25rem;
    margin-right: 12rem;
    }
   
    
    
  }
  
  @media screen and (max-width: 438px) {
 .home{
  width:fit-content;
  margin-top: 3rem;
  margin-left:-9rem;
  
 }
    .centerlogo img{
        
        width: 20rem;
        height: 20rem;
        
        }
   
  }
  
