@media only screen and (max-width: 768px) {
    .starpage h1 {
        font-size: large;
        display: flex;
        color:aqua;
        flex-direction: row;
        margin-left: 10px; /* Adjust as needed for better alignment */
    }
    .pass-button{
        color: aliceblue;
        padding: 0.5rem;
        background-color: blue;
    }
    .image-icon {
        margin: 0 auto; 
        max-width: 200px; 
        text-align: center;
    }
    .star-icons {
        width: 3rem; /* Adjust the size for smaller screens */
        height: 3rem; /* Adjust the size for smaller screens */
    }
.star-bg{
    width:100vw;
   
}
    .content-star {
        grid-template-columns: auto; /* Stack the content in a single column */
        /* margin-left: 10px;  */
        color: aliceblue;
    }



    .starpage p {
        grid-template-columns: auto; /* Stack the content in a single column */
        width: auto; /* Remove fixed width */
        margin: 10px; /* Adjust the margin as needed */
        text-align: center; /* Center the text */
    }
.starpage{
    backdrop-filter: blur(35px);
-webkit-backdrop-filter: blur(35px);
margin-top: 2rem;
}
    .main-content {
        flex-direction: column; 
        align-items: center;
        
    }
}