@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@800;500&display=swap");


.container {
  width: 90%;
  margin: auto;
}



.main-content {
  padding-top: 30px;
  display: flex;
  align-items: center;
}

.malhaar-text {
  width: 40%;
  color: aliceblue;
}

.header {
  margin-top: 10px;
  font-size: 60px;
  overflow: hidden;
}

.second-content {
  width: 45%;
  margin: auto;
  background-color: white;
  height: 400px;
}

.second-text,
h6 {
  color: black !important;
}

@media screen and (max-width: 900px) {
  .main-content {
    flex-direction: column-reverse;
  }

  .malhaar-text {
    width: 100%;
    margin-top: 5rem;
    font-weight: 500;
  }

  .second-content {
    width: 100%;
    height: 300px;
  }
}
