
.row{
    justify-content: center;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    background: #202020 !important;
    background-color: #202020;
    width: 100vw;
    height: 3rem;
    position:relative;
    bottom: 0;
  }
  .copyright-text p {
  
    font-size: 14px;
    color: #878787;
    margin-top: 1rem;
    margin-left: 1rem;

  }

  .footer-menu p {
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 1rem;
  }
  .footer-menu p:hover a{
    color: #ff5e14;
  }
  .footer-menu li a {
    font-size: 14px;
    color: #878787;
  }